{% extends 'base.html.twig' %}

{% block title %}View Profile{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-md-6 offset-3">
            <h2 class="display-5 my-3">Modifier votre profil</h2>

        </div>
    </section>
{% endblock %}
