/* Custom CSS */
h3 {
    font-size: 1.4rem;
}

table a {
    text-decoration: none;
}

.thumbnail {
    width: 40px;
}

.img-menu {
    margin-right: 8px;
    width: 40px;
    border-radius: 50%;
}
/* Header */
.banner {
    height: 300px;
    background: url("../images/banner.jpg") no-repeat center center;
    background-size: cover;
}
