{% extends 'base.html.twig' %}
{% block title %}Remerciements{% endblock %}
{% block body %}
    <section class="row">
        <div class="col-md-6 offset-3">
            <h2 class="display-5 my-3">Votre Email a bien été envoyé</h2>
            <h3 class="display-4">Merci de votre confiance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda at nam numquam reiciendis,
                saepe sapiente. Ducimus ipsam, officiis. Asperiores et iure labore, necessitatibus nostrum nulla quis
                sapiente sequi voluptatum?</p>
        </div>
    </section>
{% endblock %}
